In [63]:
"""Дата и время в Питоне."""

'Дата и время в Питоне.'

In [64]:
# импортируем весь модуль
# import datetime
# чтобы получить доступ к функции now(), сначала обратимся
# к модулю, потом к классу
# print(datetime.datetime.now())

# часто из модуля datetime удобнее импортировать только класс datetime

In [103]:
# импортируем весь модуль
from datetime import datetime

import pytz

In [66]:
# чтобы получить доступ к функции now(), сначала обратимся к модулю, потом к классу
print(datetime.now())

2025-10-26 19:44:22.552074

In [67]:
# поместим созданный с помощью функции now() объект datetime в переменную cur_dt
cur_dt: datetime = datetime.now()
print(cur_dt)

2025-10-26 19:44:22.556827

In [68]:
# с помощью соответствующих атрибутов выведем каждый из компонентов объекта
print(
    cur_dt.year,
    cur_dt.month,
    cur_dt.day,
    cur_dt.hour,
    cur_dt.minute,
    cur_dt.second,
    cur_dt.microsecond,
)

2025 10 26 19 44 22 556827

In [69]:
print(cur_dt.weekday(), cur_dt.isoweekday())

6 7

In [70]:
# посмотрим на часовой пояс с помощью атрибута tzinfo
print(cur_dt.tzinfo)

None

In [71]:
# выведем текущее время в Москве
dt_moscow = datetime.now(pytz.timezone("Europe/Moscow"))
print(dt_moscow)

2025-10-27 05:44:22.575423+03:00

In [72]:
print(dt_moscow.tzinfo)

Europe/Moscow

In [73]:
# получим timestamp текущего времени с помощью метода .timestamp()
timestamp = datetime.now().timestamp()

In [74]:
print(timestamp)

1761533062.582627

In [75]:
# для этого воспользуемся методом .fromtimestamp()
print(datetime.fromtimestamp(timestamp))

2025-10-26 19:44:22.582627

In [76]:
# передадим объекту datetime 20 февраля 1991 года
hb: datetime = datetime(1991, 2, 20)
print(hb)

1991-02-20 00:00:00

In [77]:
# извлечем год с помощью атрибута year
print(hb.year)

1991

In [78]:
# создадим timestamp
print(datetime.timestamp(hb))

667036800.0

In [79]:
# дана строка с датой 2 декабря 2007 года и временем 12 часов 30 минут и 45 секунд
str_to_dt: str = "2007-12-02 12:30:45"
type(str_to_dt)

str

In [80]:
res_dt: datetime = datetime.strptime(str_to_dt, "%Y-%m-%d %H:%M:%S")

print(res_dt)
print(type(res_dt))

2007-12-02 12:30:45
<class 'datetime.datetime'>

In [81]:
# вначале создадим объект datetime и передадим ему 19 ноября 2002 года
dt_to_str: datetime = datetime(2002, 11, 19)
type(dt_to_str)

datetime.datetime

In [82]:
# преобразуем объект в строку в формате "день недели, месяц число, год"
# res_str: datetime = datetime.strftime(dt_to_str, '%A, %B %d, %Y')
#
# print(res_str)
# print(type(res_str))

In [83]:
dt_to_str.strftime("%A, %B %d, %Y")

'Tuesday, November 19, 2002'

In [84]:
date1: datetime = datetime(1905, 6, 30)  # "К электродинамике движущихся тел"
date2: datetime = datetime(1916, 5, 11)  # Общая теория относительности

In [85]:
date1 < date2

True

In [86]:
date1 > date2

False

In [87]:
# вначале запишем даты в виде строки и сравним их
# '2007-12-02' > '2002-11-19'

In [88]:
# теперь в виде объекта datetime
# datetime(2007, 12, 2) > datetime(2002, 11, 19)

In [89]:
diff = date2 - date1
print(diff)

3968 days, 0:00:00

In [90]:
type(diff)

datetime.timedelta

In [91]:
# datetime.timedelta

In [92]:
print(diff.days)

3968

In [93]:
# а затем создадим объект timedelta продолжительностью 1 день
# timedelta(days=1)

In [94]:
# допустим сейчас 1 января 2070 года
future: datetime = datetime(2070, 1, 1)

In [95]:
# сначала просто умножим 365 дней на 170
# time_travel = timedelta(days=365) * 170
#
# а потом переместимся из будущего в прошлое
# past = future - time_travel
#
# к сожалению, мы немного "не долетим",
# потому что не учли високосные годы, в # # которых 366 дней
# past

In [96]:
# time_travel: timedelta = timedelta(days=62092)
#
# past = future - time_travel
# past

In [97]:
# cur_date: datetime = datetime(2021, 1, 1)
# эту дату мы будем выводить
# end_date: datetime = datetime(2021, 1, 10)
# это граница (условие в цикле # # while)
#
#  пока верно условие
# while cur_date <= end_date:
#
#     # выведем cur_date в формате "месяц число, год"
#     print(cur_date.strftime("%b %d, %Y"))
#
#     # прибавим к выводимой дате один день
#     cur_date += timedelta(days=1)

In [98]:
# пусть дан список чисел в строковом формате, и мы хотим посчитать их сумму
# предположим, буква "а" попала в список случайно
numbers: list[str] = ["5", "10", "a", "15", "10"]

# объявим переменную суммы
total: int = 0

# пройдемся по числам
for number in numbers:

    # попробуем прибавить число к переменной total
    try:
        total += int(number)

    # если же этого сделать не удастся
    except ValueError:
        # перейдем к следующему числу
        pass

# выведем сумму
total

40

In [99]:
# temp_1 = pd.read_csv('temperature.csv')
# print(temp_1)

In [100]:
# # создадим список с известными нам шаблонами
# formats: list[str] = ['%Y-%m-%d', '%Y-%m-%-d', '%Y-%m']
#
# # создадим счетчик для записей, которые не обработались
# counter_9 = 0
#
# # пройдемся в цикле по столбцу Date
# for d in temp.Date:
#
#   # затем пройдемся по известным нам форматам
#   for format in formats:
#
#     # попробуем, применив каждый из форматов,
#     # преобразовать строку с датой в объект datetime
#     try:
#       print(datetime.strptime(d, format))
#       counter_9 += 1
#
#     # если что-то пошло не так
#     except:
#       # перейдем к следующему формату (второй цикл for) или записи (первый цикл # for)
#       pass
#
# # посмотрим, сколько записей не обработалось
# print('Не обработалось записей:', len(temp) - counter_9)

In [101]:
# temp_parsed = pd.read_csv('temperature.csv',
# index_col = 'Date', parse_dates = True)
# temp_parsed

In [102]:
# индекс превратился в объект datetime
# type(temp_parsed.index)