In [1]:
"""Переменные в Питоне."""

'Переменные в Питоне.'

In [5]:
# можно создать переменную, присвоив ей числовое значение
number_1: int = 15
print(number_1)

15

In [4]:
# кроме того, переменной можно задать строковое (текстовое) значение
string_1: str = "Я программирую на Питоне"
print(string_1)

Я программирую на Питоне

In [6]:
# присваиваем разные значения сразу нескольким переменным
a_3: str
b_3: str
c_3: str
a_3, b_3, c_3 = "Питон", "C++", "PHP"
print(a_3, b_3, c_3)

Питон C++ PHP

In [8]:
# задаем одно и то же значение нескольким переменным
x_4: str
y_4: str
z_4: str
x_4 = y_4 = z_4 = "То же самое значение"
print(x_4, y_4, z_4)

То же самое значение То же самое значение То же самое значение

In [9]:
my_list_5: list[str] = ["помидоры", "огурцы", "картофель"]
a_5: str
b_5: str
c_5: str
a_5, b_5, c_5 = my_list_5
print(a_5, b_5, c_5)

помидоры огурцы картофель

In [11]:
x_6: float = (
    256  # в этом случае переменной x присваивается тип int (целочисленное значение)
)
y_6: float = 0.25  # y становится float (десятичной дробью)
z_6: str = "Просто текст"  # z становится str (строкой)

In [12]:
# узнаем тип переменных из предыдущего примера
print(type(x_6), type(y_6), type(z_6))

<class 'int'> <class 'float'> <class 'str'>

In [13]:
x_7: str = str(25)  # число 25 превратится в строку
y_7: int = int(25)  # число 25 останется целочисленным значением
z_7: float = float(25)  # число 25 превратится в десятичную дробь

print(type(x_7), type(y_7), type(z_7))

<class 'str'> <class 'int'> <class 'float'>

In [14]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

<class 'int'>

In [15]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [16]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

In [18]:
# конечно, и целое число, и дробь можно преобразовать в строку
print(type(str(25)))
print(type(str(36.6)))

<class 'str'>
<class 'str'>

In [ ]:
# допустимые имена переменных
#
# variable: str = "Просто переменная"
#
# _variable: str = "Просто переменная"
#
# variable_: str = "Просто переменная"
#
# my_variable: str = "Просто переменная"
#
# My_variable_123: str = "Просто переменная"

In [21]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
camelCaseVariable: str = "Верблюжий регистр"  # noqa: N816

# нотацию Паскаль, PascalCase (аналогично)
PascalCaseVariable: str = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
snake_case_variable: str = "Змеиная нотация"

In [22]:
# my-variable: str = "Так делать нельзя"
# 123variable: str = "Так делать нельзя"
# my variable: str = "Так делать нельзя"