In [1]:
"""Типы данных."""

'Типы данных.'

In [2]:
a_1: int = 25  # целое число (int)
b_1: float = 2.5  # число с плавающей точкой (float)
c_1: complex = 3 + 25j  # комплексное число (complex)

In [ ]:
d_2: float = 2e3  # 2 умножить на 10 в степени 3
print(d_2)
print(type(d_2))

2000.0
<class 'float'>

In [4]:
# сложение, вычитание, умножение, деление, возведение в степень
print(2 + 2, 4 - 2, 2 * 2, 4 / 2, 2**3)

4 2 4 2.0 8

In [5]:
# разделим 7 на 2, и найдем целую часть и остаток

# целая часть
print(7 // 2)

# остаток от деления
print(7 % 2)

3
1

In [ ]:
# больше, меньше, больше или равно и меньше или равно
# print(4 > 2, 4 < 2, 4 >= 2, 4 <= 2)

True False True False

In [ ]:
# равенство
# print(2 == 4)

# и новый для нас оператор неравенства
# print(2 != 4)

False
True

In [32]:
# логическое И, обе операции должны быть истинны
# print(4 > 2 and 2 != 3)

# логическое ИЛИ, хотя бы одна из операций должна быть истинна
# print(4 < 2 or 2 == 2)
#
# логическое НЕ, перевод истинного значения в ложное и наоборот
# print(not (4 == 4))

In [10]:
# создадим число в десятичной системе
d_1: int = 25

# переведем в двоичную (binary)
bin_d: str = bin(d_1)
print(bin_d)

# переведем обратно в десятичную
print(int(bin_d, 2))

0b11001
25

In [11]:
string_1: str = "это строка"
string_2: str = "это тоже строка"

In [15]:
multi_string: str = """Мы все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть."""

In [13]:
len(multi_string)

105

In [18]:
# создадим три строки
a_5: str
b_5: str
c_5: str
a_5, b_5, c_5 = "Программирование", "на", "Питоне"

# соединим с помощью + и добавим пробелы ' '
a_5 + " " + b_5 + " " + c_5

'Программирование на Питоне'

In [19]:
# выведем первый элемент строки multi_string
print(multi_string[0])

# теперь выведем последний элемент
print(multi_string[-1])

М
.

In [20]:
# выберем элементы с четвертого по шестой
print(multi_string[3:6])

все

In [21]:
# выведем все элементы вплоть до второго
print(multi_string[:2])

# а также все элементы, начиная с четвертого
print(multi_string[3:])

Мы
все учились понемногу
Чему-нибудь и как-нибудь,
Так воспитаньем, слава богу,
У нас немудрено блеснуть.

In [22]:
# выведем буквы в слове Питон
for char in "Питон":
    print(char)

П
и
т
о
н

In [23]:
# применим метод .strip(), чтобы удалить *
print("***15 849 302*****".strip("*"))

# если ничего не указать в качестве аргумента, то удаляются пробелы по краям строки
print(" 15 849 302 ".strip())

15 849 302
15 849 302

In [24]:
# применим метод .split(), чтобы разделить строку на части
print(multi_string.split())

['Мы', 'все', 'учились', 'понемногу', 'Чему-нибудь', 'и', 'как-нибудь,', 'Так', 'воспитаньем,', 'слава', 'богу,', 'У', 'нас', 'немудрено', 'блеснуть.']

In [34]:
# предположим данные содержатся вот в таком формате
data: str = "20,25"

# теперь заменим ',' на '.'
data_1: str = data.replace(",", ".")

# и преобразуем в число
data_3 = float(data_1)
print(data_3)
print(type(data_3))

20.25
<class 'float'>

In [37]:
# создадим переменную и запишем в нее логическое значение True
# (обязательно с большой буквы)
var_1: bool = True
type(var_1)

bool

In [38]:
# напишем небольшую программу, которая будет показывать,
# какое значение содержится в переменной var

if var_1:
    print("Значение переменной истинно")
else:
    print("Значение переменной ложно")

Значение переменной истинно

In [28]:
# возьмем простой список
list_: list[int] = [1, 2, 3]

# использовать только функцию str() нельзя
str(list_)

'[1, 2, 3]'

In [31]:
list_str: list[str] = []

for elem in list_:
    list_str.append(str(elem))

list_str

['1', '2', '3']